.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 126px;
}

.inner {
    display: flex;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 55px;
}

.logo {
    width: 100px;
    height: 40.75px;
}