.wrapper {
   max-width: 375px;
   width: 100%;

   display: flex;
   justify-content: space-between;

   position: absolute;
   top: 0;
   right: 60px;

   @media (max-width: 1023px) {
        max-width: 160px;
        right: 20px;    
        top: -30px;
        flex-direction: column-reverse;
    }
}   

.signOutBtnWrapper {
    max-width: 128px;
    flex: 0 0 128px;
    margin-left: 20px;

    @media (max-width: 1023px) {  
        flex: 0 0 auto;
        margin-left: 0;
        margin-bottom: 12px;

        > button {
            height: 30px;
        }
    }
}

.info {
    max-width: 240px;
    flex: 0 0 240px;

    @media (max-width: 1023px) {    
        max-width: 140px;
        flex: 0 0 auto;
    }
}

.text {
    font-size: 16px;
    line-height: 24px;
    color: #524E4B;

    > a {
        color: #676767;
        text-decoration: underline;
    }

    @media (max-width: 1023px) {        
        font-size: 12px;
        line-height: 14px;
    }
}